/vendor/*
/.phpunit.result.cache
/composer.lock

/Resources/public/*
!/Resources/public/css
!/Resources/public/img
!/Resources/public/.gitkeep

/Tests/Fixtures/app/Resources/*
/Tests/Fixtures/app/var/*
