{# Resources/views/assets/wbwCoreLeaflet.js.twig #}
/*
 * This file is part of the core-bundle package.
 *
 * (c) 2022 WEBEWEB
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Leaflet.
 *
 * @author webeweb <https://github.com/webeweb>
 */
class WBWCoreLeaflet {

    /**
     * Displays a Leaflet map.
     *
     * @param {String} id The id.
     * @param {Array} center The center.
     * @param {int} zoom The zoom.
     * @param {Array<Object>} markers The markers.
     * @returns {Map} Returns the map.
     */
    static map(id, center, zoom, markers) {

        const map = L.map(id).setView(center, zoom);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors',
        }).addTo(map);

        markers.forEach((marker) => {

            if (null === marker.latitude || null === marker.longitude) {
                return;
            }

            L.marker([marker.latitude, marker.longitude])
                .bindPopup(marker.popup)
                .addTo(map);
        });

        return map;
    }
}
