{# Resources/views/email/content.html.twig #}
<table class="main center" width="602" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="column">
                <div class="column-top">&nbsp;</div>
                <table class="content" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="padded">
                                <h1>Responsive Email Template</h1>
                                <p>With a little of <strong>Material Design</strong> by Google.</p>
                                <p>It does not contain all styles of html-elements that you can use. So if you had trouble with something - add comment to this pen.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <p>In addition to paragraph and h1-heading you also can create buttons, links and caption text:</p>
                                <p style="text-align:center;"><a href="#" class="btn">EXAMPLE BUTTON</a></p>
                                <p style="text-align:center;">
                                    <a href="#" class="strong">Example link</a>
                                </p>
                                <p class="caption">This is a caption text in main email body.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="column-bottom">&nbsp;</div>
            </td>
        </tr>
    </tbody>
</table>
