{# Resources/views/email/header.html.twig #}
<table class="top-panel center" width="602" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td class="title" width="300">{{ emailLayout.companyName | default("WEBEWEB") }}</td>
            <td class="subject" width="300">
                <a class="strong" href="{{ emailLayout.companyURL | default("https://github.com/webeweb") }}" target="_blank">
                    {{ emailLayout.companyURL | default("https://github.com/webeweb") }}
                </a>
            </td>
        </tr>
        <tr>
            <td class="border" colspan="2">&nbsp;</td>
        </tr>
    </tbody>
</table>
