{# Resources/views/email.html.twig #}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        {% include "@WBWCore/email/_stylesheet.html.twig" %}
        {% block coreEmailStylesheets %}
        {% endblock %}
    </head>
    <body>
        <center class="wrapper">
            {% include "@WBWCore/email/_header.html.twig" %}
            <div class="spacer">&nbsp;</div>
            {% include "@WBWCore/email/_content.html.twig" %}
            <div class="spacer">&nbsp;</div>
            {% include "@WBWCore/email/_footer.html.twig" %}
        </center>
    </body>
</html>